{% extends "base.html" %}

{% block content %}
<section id="about">
    <h2>About Me</h2>
    <p>
        Hi there! 👋 I'm a passionate web developer and designer with a love for creativity and problem-solving. I enjoy combining my technical skills with my artistic side to create beautiful, functional websites. 💻✨
    </p>
    <p>
        Outside of web development, I also enjoy making cakes 🎂 and spending time with my family. 👨‍👩‍👧‍👦 I'm always looking for new opportunities to learn and grow in both my personal and professional life.
    </p>
    <p>
        If you'd like to work with me or just want to chat, feel free to get in touch! 📩
    </p>
</section>
{% endblock %}
